.inputs {
    max-width: fit-content;
    height: autp;
    margin-inline: auto;
    background-color: #f1f2ef;
    opacity: .9;
    border-radius: 5px;
    padding: 15px;
    display: block;
  place-content: center;
  align-items: center;
  position: relative;
z-index: +100; }

.mealComponent {
    position: relative;
    z-index: -10;
}