/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
    display: inline-block;
    padding: 10px 20px;
    border-color: #1c1f18;
    border-width: 1px 1px 3px;
    border-radius: 4px;
    background-color: #718060;
    color: #f8f8f8;
    font-size: 1.1rem;
    outline: 0;
    cursor: pointer;
  }
  
  .btn_sizeMin {
    min-height: 50px;
    min-width: 100px;
  }
  
  .btn_sizeSm {
    padding: 10px 15px;
    font-size: 0.8rem;
  }
  
  .btn_sizeFull {
    display: block;
    width: 100%;
  }
  
  .btn:hover {
    background-color: #8d9980;
    text-decoration: none;
  }

  h2 {
    color:#8d9980;
    
  }